@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&family=Neucha&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat !important;
}

:root {
  --dark-purple: #802bb1;
  --black-background: #2d283e;
  --navbar-active: #564f6f;
  --navbar-inactive: #4c495d;
  --navbar-text: peachpuff;
  --card-background: #f0f0f0;
  --footer-color: #222222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.projectGallery {
  background-color: var(--black-background);
}

.projectGallery h1 {
  color: var(--navbar-text);
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 40px;
  text-align: center;
}

.card {
  border: 2px solid var(--navbar-text) !important;
  background-color: var(--card-background) !important;
  margin-bottom: 40px;
}

.home {
  background-color: var(--black-background);
  height: 100vh;
}
