@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&family=Neucha&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat !important;
}

:root {
  --dark-purple: #802bb1;
  --black-background: #2d283e;
  --navbar-active: #564f6f;
  --navbar-inactive: #4c495d;
  --navbar-text: peachpuff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
